:root {
    /* Colors */
    /* Fonts */
    --mycampus-font-family: Inter-Regular, sans-serif;
    --mycampus-font-size: 12px;
    --mycampus-line-height: normal;
    --mycampus-font-weight: 400;
    --mycampus-font-style: normal;
  
    /* Effects */
  }
  
  :root {
    /* Colors */
    /* Fonts */
    --mycampus-font-family: Inter-Regular, sans-serif;
    --mycampus-font-size: 12px;
    --mycampus-line-height: normal;
    --mycampus-font-weight: 400;
    --mycampus-font-style: normal;
  
    /* Effects */
  }
  